<%- include("../layout/header.ejs");%>

<style>
  .musicContainer {
    padding: 1rem;
  }
  .add-music {
    background-color: cadetblue;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
</style>

<div class="musicContainer">
  <a href="/addMusicListings" class="add-music">+ Add Music</a>
</div>

<table>
  <tr>
    <th>S No.</th>
    <th>Title</th>
    <th>Description</th>
    <th>Music</th>
    <th>Action</th>
  </tr>

  <% musicData.forEach((music, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= music.title %></td>
      <td><%= music.description %></td>
      <td>
        <audio controls="">
          <source src="<%= music.music %>" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </td>
      <td>
        <button class="delete-btn"><i class="fas fa-trash"></i> Delete</button>
      </td>
    </tr>
  <% }); %>
</table>

<%- include("../layout/footer.ejs");%>
