<%- include("../layout/header.ejs");%>

<div class="editUser-container">
  <h1>Edit User</h1>
  <div class="backContainer">
    <a
      href="#"
      onclick="window.location.href=document.referrer;"
      class="backbutton"
      >Back</a
    >
  </div>

  <form action="/updateUser/<%= users.id %>" method="post">
    <input type="hidden" name="id" value="<%= users.id %>" />
  
    <!-- <h3>Image:</h3> -->
    <img src="<%= users.image %>" width="100" />
  
    <h3>Name:</h3>
    <input type="text" name="name" value="<%= users.name %>" />
  
    <h3>Nick Name:</h3>
    <input type="text" name="nickName" value="<%= users.nickName %>" />
  
    <h3>Email:</h3>
    <input type="email" name="email" value="<%= users.email %>" />
  
    <button type="submit">Update</button>
  </form>

<style>
  h1 {
    text-align: left;
  }
  .backContainer {
    margin-left: 70%;
    background-color: grey;
    color: black;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .backbutton {
    color: white;
    text-decoration: none;
    width: 60px;
    font-size: 1.4rem;
  }
  .editUser-container {
    margin-top: 20px;
    margin-left: 100px;
    background: #fff;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    text-align: center;
  }

  .editUser-container h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
  }

  .editUser-container input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
  }

  .editUser-container input:focus {
    outline: none;
    border-color: #6a11cb;
  }

  .editUser-container button {
    margin-left: auto;
    background: #6a11cb;
    color: #fff;
    border: none;
    padding: 0.75rem 4.5rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }

  .editUser-container button:hover {
    background: #2575fc;
  }

  @media (max-width: 600px) {
    .editUser-container {
      padding: 1.5rem;
    }

    .editUser-container h1 {
      font-size: 1.5rem;
    }

    .editUser-container input {
      padding: 0.5rem;
      font-size: 0.9rem;
    }

    .editUser-container button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }

  h3 {
    text-align: left;
  }
</style>

<%- include("../layout/footer.ejs");%>
